#fb-logo {
    height: 50px;
}
#tw-logo {
    height: 50px;
}
a {
color: black;
}
#followers {
    color: gray;
    font-size: 12px;
}

.tweet {
    font-size: 13px;
    padding: 5px;
}
.info-about {
    font-size: 14px;

    padding: 4px;
    text-align: center;
}
.tweet_ca {
   width: 100%;
   color: gray;
   text-align: right;
   font-size: 14px;
}
.post {
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}
.post img {
width: 30%;
    border: 1px solid #cccccc;

}
.post_text {
    display: inline-block;
    padding: 5px;
    font-size: 18px;
    width: 60%;
    vertical-align: top;
}

img.circular-img{
    border-radius: 100px;
    border: 1px solid #cccccc;
    margin-left: 50%;
    
}

.center-info{
    
    display: block;
    margin-left: -102px;
    
}

.name-info{
    text-align: center  ;
    
}
