.amazon-title {
    font-weight: bold;
    padding: 10px 10px 20px;
}

.amazon-item {
    background: rgb(233, 234, 237);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #000000;
    margin-bottom: 10px;
    overflow: hidden;
}

.amazon-content {
    float: right;
    padding: 15px 15px 10px 0;
    font-weight: bolder;
}

.amazon-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.amazon {
    border: 1px solid #000000;
}

#fbPhotoSnowliftViews{
    background: #ffffff !important;
    
}

#DIV_1 {
    background-position: 0% 100%;
    box-shadow: rgb(242, 242, 242) 1px 1px 3px 0px;
    box-sizing: border-box;
    color: rgb(148, 148, 148);

    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    width: 275.796875px;
    word-wrap: break-word;
    perspective-origin: 137.890625px 195.5px;
    transform-origin: 137.890625px 195.5px;
    background: rgba(0, 0, 0, 0) linear-gradient(to top, rgb(250, 250, 250) 0px, rgb(253, 253, 253) 20%, white 60%) no-repeat scroll 0% 100% / 100% 200px padding-box border-box;
    border: 1px solid rgb(238, 238, 238);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    margin: 0px 0px 12px 12px;
    outline: rgb(148, 148, 148) none 0px;
    overflow: hidden;
    padding: 20px;
}/*#DIV_1*/

#DIV_2 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    padding-bottom: 10px;
    overflow-wrap: break-word;
    text-align: left;
    width: 233.796875px;
    word-wrap: break-word;

    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;

    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_2*/

#DIV_2:after {
    clear: both;
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_2:after*/

#DIV_2:before {
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_2:before*/

#DIV_3 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    float: left;

    min-height: 1px;
    overflow-wrap: break-word;
    position: relative;
    text-align: center;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 100px;
    transform-origin: 116.890625px 100px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    margin: 0px 4.671875px 0px 0px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_3*/

#A_4 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(0, 102, 192);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
}/*#A_4*/

#IMG_5 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);

    max-width: 100%;
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: top;
    width: 200px;
    word-wrap: break-word;
    perspective-origin: 100px 100px;
    transform-origin: 100px 100px;
    border: 0px none rgb(0, 102, 192);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
}/*#IMG_5*/

#DIV_6 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    overflow-wrap: break-word;
    text-align: center;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 0px;
    transform-origin: 116.890625px 0px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_6*/

#DIV_7 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 83px;
    overflow-wrap: break-word;
    text-align: left;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 41.5px;
    transform-origin: 116.890625px 41.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_7*/

#DIV_7:after {
    clear: both;
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_7:after*/

#DIV_7:before {
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_7:before*/

#DIV_8 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 36px;
    overflow-wrap: break-word;
    text-align: left;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 18px;
    transform-origin: 116.890625px 18px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    margin: 0px 0px 6px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_8*/

#DIV_8:after {
    clear: both;
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_8:after*/

#DIV_8:before {
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_8:before*/

#A_9, #A_12, #A_19 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(0, 102, 192);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
}/*#A_9, #A_12, #A_19*/

#H2_10 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    display: inline;
    height: auto;
    overflow-wrap: break-word;
    text-align: left;
    text-rendering: optimizelegibility;
    width: auto;
    word-wrap: break-word;
    border: 0px none rgb(0, 102, 192);
    font: normal normal normal normal 15px/18.75px Arial, sans-serif;
    margin: 0px;
    outline: rgb(0, 102, 192) none 0px;
}/*#H2_10*/

#DIV_11 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 17px;
    overflow-wrap: break-word;
    text-align: left;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 8.5px;
    transform-origin: 116.890625px 8.5px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_11*/

#DIV_11:after {
    clear: both;
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_11:after*/

#DIV_11:before {
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_11:before*/

#SPAN_13 {
    box-sizing: border-box;
    color: rgb(177, 39, 4);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    border: 0px none rgb(177, 39, 4);
    font: normal normal bold normal 14px/17.5px Arial, sans-serif;
    outline: rgb(177, 39, 4) none 0px;
}/*#SPAN_13*/

#SPAN_14 {
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: line-through;
    word-wrap: break-word;
    border: 0px none rgb(85, 85, 85);
    font: normal normal normal normal 12px/15px Arial, sans-serif;
    outline: rgb(85, 85, 85) none 0px;
}/*#SPAN_14*/

#I_15 {
    background-position: -205px -246px;
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    display: inline-block;
    height: 15px;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: text-bottom;
    width: 47px;
    word-wrap: break-word;
    perspective-origin: 23.5px 7.5px;
    transform-origin: 23.5px 7.5px;
    background: rgba(0, 0, 0, 0) url(http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0036-2x._V1_.png) no-repeat scroll -205px -246px / 400px 650px padding-box border-box;
    border: 0px none rgb(148, 148, 148);
    font: italic normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#I_15*/

#DIV_16 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    height: 18px;
    overflow-wrap: break-word;
    text-align: left;
    width: 233.796875px;
    word-wrap: break-word;
    perspective-origin: 116.890625px 9px;
    transform-origin: 116.890625px 9px;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    margin: 6px 0px 0px;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_16*/

#DIV_16:after {
    clear: both;
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_16:after*/

#DIV_16:before {
    color: rgb(148, 148, 148);
    display: table;
    overflow-wrap: break-word;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: '';
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 0px/0px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#DIV_16:before*/

#SPAN_17, #SPAN_18 {
    box-sizing: border-box;
    color: rgb(148, 148, 148);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    border: 0px none rgb(148, 148, 148);
    font: normal normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(148, 148, 148) none 0px;
}/*#SPAN_17, #SPAN_18*/

#I_20 {
    background-position: -175px -368px;
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    display: inline-block;
    height: 18px;
    overflow-wrap: break-word;
    position: relative;
    text-align: left;
    vertical-align: text-top;
    width: 80px;
    word-wrap: break-word;
    perspective-origin: 40px 9px;
    transform-origin: 40px 9px;
    background: rgba(0, 0, 0, 0) url(http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0036-2x._V1_.png) no-repeat scroll -175px -368px / 400px 650px padding-box border-box;
    border: 0px none rgb(0, 102, 192);
    font: italic normal normal normal 13px/16.25px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
}/*#I_20*/

#SPAN_21 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    display: block;
    height: 1px;
    left: -9999px;
    overflow-wrap: break-word;
    position: absolute;
    text-align: left;
    width: 1px;
    word-wrap: break-word;
    align-self: stretch;
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(0, 102, 192);
    font: italic normal normal normal 1px/1px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
    overflow: hidden;
}/*#SPAN_21*/

#I_22 {
    background-position: -90px -5px;
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    display: inline-block;
    height: 5px;
    opacity: 0.600000023841858;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: text-top;
    width: 7px;
    word-wrap: break-word;
    z-index: 0;
    perspective-origin: 3.5px 2.5px;
    transform-origin: 3.5px 2.5px;
    background: rgba(0, 0, 0, 0) url(http://g-ecx.images-amazon.com/images/G/01/amazonui/sprites/aui_sprite_0036-2x._V1_.png) no-repeat scroll -90px -5px / 400px 650px padding-box border-box;
    border: 0px none rgb(0, 102, 192);
    font: italic normal normal normal 13px/16.25px Arial, sans-serif;
    margin: 5px 0px 0px 5.00500011444092px;
    outline: rgb(0, 102, 192) none 0px;
}/*#I_22*/

#A_23 {
    box-sizing: border-box;
    color: rgb(0, 102, 192);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    border: 0px none rgb(0, 102, 192);
    font: normal normal normal normal 12px/15px Arial, sans-serif;
    outline: rgb(0, 102, 192) none 0px;
}/*#A_23*/

