.amazon-title {
    font-weight: bold;
    padding: 10px 10px 20px;
}

.amazon-item {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #000000;
    margin-bottom: 10px;
    max-width: 200px;
    overflow: hidden;
}

.amazon-content {
    float: right;
    padding: 15px 15px 10px 0;
    font-weight: bolder;
}

.amazon-image {
    padding-left: 20px;
}
