{% if preview %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endif %}

{% for product in products %}
    <div class="amazon-item">
        <div class="amazon-title">
            <a href="{{ product.offer_url }}" target="_blank">{{ product.title }}</a>
        </div>
        <div class="amazon-image">
            <img src="{{ product.medium_image_url }}" class="amazon"/>
        </div>
        <div class="amazon-content">
            {{ product.list_price[0] }}$
        </div>
    </div>
{% endfor %}
