{% if preview %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='people.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabs.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
{% endif %}

<h3><a href="http://www.imdb.com/title/{{ film["imdbID"] }}/">{{ film["Title"] }}</a></h3>
{{ film["Plot"] }}

<table>
    <tr>
        <th>Duration time</th>
        <td>{{ film["Runtime"] }}</td>
    </tr>
    <tr>
        <th>Score</th>
        <td>{{ film["imdbRating"] }}</td>
    </tr>
</table>
<div>{{ film["description"] }}</div>