{% if preview %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='people.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tabs.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
{% endif %}


<ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">
        <img src="https://g.twimg.com/Twitter_logo_blue.png" alt="Twitter Logo" id="tw-logo">
    </li>
    <li class="tab-link" data-tab="tab-2">
        <img src="http://i.forbesimg.com/media/lists/companies/facebook_416x416.jpg" alt="Facebook" id="fb-logo">
    </li>
</ul>

<div id="tab-1" class="tab-content current">
    <img src="{{ twitter["image"] }}" alt="Twitter Account">
    <a href="http://twitter.com/{{ twitter["sname"] }}">{{ twitter["name"] }} (@{{ twitter["sname"] }})</a>
    <div id="followers">
        Followers:  {{ twitter["followers"] }}
    </div>
    {% for tweet in twitter["tweets"] %}
    <div class="tweet">
        {{ tweet.text }}
        <div class="tweet_ca">{{tweet.created_at}}</div>
    </div>
    {% endfor %}
</div>
<div id="tab-2" class="tab-content">
    <img src="{{ facebook["picture"] }}" alt="Profile Picture">
    <a href="http://facebook.com/ {{ facebook["id"] }}">{{ facebook["name"] }}</a>
    <div id="about">{{ facebook["about"] }}</div>
    {% for post in facebook["posts"] %}
    <div class="post">
        <img src="{{ post.picture }}">
        <div class="post_text">
            {{ post.message }}
        {{ post.story }}
        </div>
    </div>
    {% endfor %}
</div>

