{% if preview %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tabs.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='tabs.css') }}">
{% endif %}

<div class="tab-container">
    <ul class="tabs">
        {% for route in routes %}

            <li class="tab-link {% if loop.first %}current {% endif %}" data-tab="tab-{{ loop.index }}">
                Route {{ loop.index }}</li>
        {% endfor %}
    </ul>

    {% for route in routes %}
        <div id="tab-{{ loop.index }}" class="tab-content {% if loop.first %}current {% endif %}">
            {% for stop in route.stops %}
                {% if loop.first  == 1 %}
                    <strong>{{ stop.name }}</strong> -
                {% elif loop.last %}
                    <strong>{{ stop.name }}</strong>
                {% else %}
                    {{ stop.name }} -
                {% endif %}
            {% endfor %}

            <p><strong>Price</strong>: {{ route.indicativePrice.price }}{{ route.indicativePrice.currency }} </p>

            <p><strong>Duration</strong>: {{ route.duration }} </p>

            <a href="{{ route.segments[0].itineraries[0].legs[0].url }}" class="route-button "target="_blank">Book Journey</a>

        </div>
    {% endfor %}

</div>

